@media (max-width: 1650px) {

  /* header */
  .header-content {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 32px;
    padding-bottom: 26px;
    gap: 26px;
  }

  .header__logo {
    grid-column: span 1;
  }

  .header__logo img {
    width: 188px;
    height: 42px;
  }

  .header__nav {
    grid-column: span 2;
    order: 1;
    padding-top: 0;
    padding-left: 0;
  }

  .header__list {
    margin-left: -5px;
    margin-right: -23px;
  }

  /* hero */
  .hero {
    padding-top: 101px;
    padding-bottom: 101px;
  }

  .hero__title {
    width: 100%;
  }

  .hero__descr {
    margin-bottom: 134px;
    width: 80%;
  }

  /* about */
  .about {
    padding-bottom: 70px;
  }

  .about__descr {
    width: 100%;
  }

  /* galery */
  .galery {
    padding-bottom: 77px;
  }

  .galery__title {
    margin-bottom: 20px;
  }

  .galery__blocks {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .galery__right {
    padding-left: 0;
  }

  /* events */
  .events__title {
    margin-bottom: 22px;
  }

  .events__blocks {
    gap: 30px;
  }

  .exhib__img img {
    height: 200px;
  }

  .exhib__img figcaption {
    padding: 0 30px;
  }

  .exhib__desc-wrap {
    min-height: 382px;
    padding: 0 32px;
    margin-bottom: 45px;
  }

  .exhib__location,
  .exhib__date {
    text-align: end;
  }

  .exhib__date {
    margin-bottom: 5px;
  }

  /* projects */
  .projects__descr {
    width: 100%;
    margin-bottom: 22px;
  }

  .projects__partners {
    margin-bottom: 18px;
  }

  .projects__img-wrap {
    gap: 26px;
  }

  /* contacts */
  .contacts {
    padding-top: 45px;
    padding-bottom: 40px;
  }

  .contacts__blocks {
    grid-template-columns: 1fr;
    gap: 23px;
  }

  .contacts__addr {
    grid-column: auto;
    padding-top: 0;
  }

  .contacts__name {
    margin-bottom: 6px;
  }

  .contacts__call {
    grid-column: auto;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 9px;
  }

  .form__btn {
    padding: 13px 35px;
  }

  .contacts__socl {
    grid-column: auto;
    margin-left: inherit;
  }

  .contacts__social {
    margin-bottom: 8px;
  }

  /* footer */
  .footer-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__logo {
    padding-top: 10px;
  }

  .footer__vk,
  .footer__ok {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1200px) {

  /* catalog */
  .catalog {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .catalog__descr {
    width: 100%;
    margin-bottom: 40px;
  }

  .catalog__blocks {
    gap: 50px;
  }

  .catalog__item {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .cat__img {
    grid-column: auto;
    width: 100%;
  }

  .cat__img img {
    width: 100%;
    height: 579px;
  }

  .cat__title {
    margin-bottom: 13px;
  }
}

@media (max-width: 1010px) {

  /* header */
  .header__list {
    gap: 15px 32px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  /* hero */
  .hero {
    padding-top: 85px;
    padding-bottom: 87px;
  }

  /* galery */
  .galery__right {
    gap: 35px;
  }

  /* catalog */
  .cat__img img {
    height: 419px;
  }

  .cat__years {
    margin-bottom: 7px;
  }

  /* events */
  .events__title {
    margin-bottom: 20px;
  }

  .events__blocks {
    grid-template-columns: 1fr;
  }

  .exhib__desc-wrap {
    min-height: 230px;
  }

  /* projects */
  .projects {
    padding-top: 91px;
  }

  .projects__descr {
    margin-bottom: 30px;
  }

  .projects__partners {
    margin-bottom: 30px;
  }

  .projects__img {
    width: 320px;
  }
}

@media (max-width: 660px) {

  /* global */
  .container {
    padding: 0 15px;
  }

  .title {
    font-size: 28px;
  }

  .descr {
    font-size: 16px;
  }

  /* header */
  .header-content {
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 10px;
  }

  .header__logo {
    margin-top: 4px;
  }

  .header__logo img {
    width: 97px;
    height: 22px;
  }

  .header__list {
    gap: 14px;
  }

  .header__link {
    font-size: 12px;
  }

  .header__btn svg {
    width: 18px;
    height: 18px;
  }

  /* hero */
  .hero {
    padding: 50px 0;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 28px;
    text-align: center;
  }

  .hero__descr {
    margin-bottom: 40px;
    padding: 0 22px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    width: 100%;
    text-align: center;
  }

  .hero__btn {
    padding: 10px 15px 10px 16px;
    font-size: 12px;
  }

  /* about */
  .about {
    padding: 53px 0 41px 0;
  }

  .about__title {
    margin-bottom: 15px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* galery */
  .galery {
    padding-top: 53px;
    padding-bottom: 46px;
  }

  .galery__title {
    margin-bottom: 15px;
  }

  .galery__right {
    grid-template-columns: 1fr;
    gap: 27px;
  }

  /* catalog */
  .catalog {
    padding-top: 53px;
    padding-bottom: 53px;
  }

  .catalog__title {
    margin-bottom: 15px;
  }

  .catalog__descr {
    margin-bottom: 30px;
  }

  .catalog__blocks {
    gap: 30px;
  }

  .catalog__item {
    gap: 20px;
  }

  .cat__img img {
    height: 180px;
  }

  .cat__years {
    margin-bottom: 13px;
  }

  /* events */
  .events__title {
    margin-bottom: 16px;
  }

  .events__blocks {
    gap: 23px;
  }

  .exhib__img img {
    margin-bottom: 14px;
  }

  .exhib__img figcaption {
    padding: 0 18px;
  }

  .exhib__location,
  .exhib__date {
    font-size: 12px;
  }

  .exhib__date {
    margin-bottom: 11px;
  }

  .exhib__desc-wrap {
    padding: 0 22px;
    min-height: 375px;
  }

  .exhib__subtitle {
    margin-bottom: 7px;
  }

  /* projects */
  .projects {
    padding-top: 58px;
    padding-bottom: 50px;
  }

  .projects__title {
    margin-bottom: 15px;
  }

  .projects__descr {
    width: 99%;
    margin-bottom: 25px;
  }

  .projects__partners {
    margin-bottom: 16px;
    font-size: 18px;
  }

  .projects__img-wrap {
    gap: 13px;
  }

  .projects__img {
    width: 290px;
    height: 100px;
  }

  /* contacts */
  .contacts {
    border: none;
    padding-top: 0;
    padding-bottom: 48px;
  }

	.contacts__blocks {
		gap: 19px;
	}

  .contacts__name {
    margin-bottom: 0;
    font-size: 18px;
  }

  .form__request {
    gap: 20px;
  }

	.form__name,
	.form__tel {
		width: 100%;
		padding: 3px 24px;
	}

  .form__btn {
    padding: 11px 33px;
  }

  .text-big {
    display: none;
  }

  .text-small {
    display: block;
    font-size: 12px;
  }

  .contacts__social {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .contacts__watts,
  .contacts__teleg {
    width: 50px;
    height: 50px;
  }

  /* footer */
  .footer-content {
    grid-template-columns: 1fr;
    padding-top: 19px;
    padding-bottom: 30px;
    gap: 7px;
  }

  .footer__logo {
    justify-self: center;
    width: 97px;
    height: 22px;
    order: 1;
  }

  .footer__social {
    justify-self: center;
    margin-left: initial;
  }

  .footer__vk,
  .footer__ok {
    width: 50px;
    height: 50px;
  }
}

/* @media (max-width: 660px) { */

/* contacts */
/* .contacts {
    border-top: none;
    padding: 30px 0 50px 0;
  }

  .contacts__blocks {
    gap: 13px;
  }

  .contacts__name {
    margin-bottom: 0;
    font-size: 18px;
  }

  .contacts__location {
    font-size: 14px;
  }

  .contacts__call {
    margin-bottom: 13px;
  }

  .form__name,
  .form__tel {
    padding: 3px 50px 3px 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .form__request {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  .text-big {
    display: none;
  }

  .text-small {
    display: block;
  }

  .form__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 11px 33px;
    font-size: 12px;
  }

  .contacts__social {
    margin-bottom: 14px;
    font-size: 17px;
    letter-spacing: 0.1px;
  }

  .contacts__link svg {
    width: 50px;
    height: 50px;
  } */

/* footer */
/* .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }

  .footer__social {
    margin-left: 0;
  }

  .footer__social svg {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    padding-top: 0;
  }
} */
